body{
  .gsci-admin{
    &.gsci-featured-link{
      padding:5px;
      margin:5px 0px 5px 0px;
      border:1px solid #000000;
      .gsci-remove-link,.gsci-up-link,.gsci-down-link{
        padding: 0px 5px;
        cursor: pointer;
      }
    }
    &.button-bar{
      width: 100%;
      margin:5px 0px 5px 0px;
      .gsci-featured-links{
        &.form-button{
          cursor: pointer;
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }
}
