
/* Fonts */
$fa: 'FontAwesome', sans-serif;

/* Shades of white  #ffffff */
$white: rgba(255,255,255,1.0);
$white_90: rgba(255,255,255,0.9);
$white_75: rgba(255,255,255,0.75);
$white_50: rgba(255,255,255,0.5);
$white_10: rgba(255,255,255,0.1);
/* Shades of black  #000000 */
$black: rgba(0,0,0,1.0);
$black_90: rgba(0,0,0,0.9);
$black_75: rgba(0,0,0,0.75);
$black_50: rgba(0,0,0,0.5);
$black_10: rgba(0,0,0,0.1);
/* Shades of gray  #DFDFDF */
$gray: rgba(223,223,223,1.0);
$gray_90: rgba(223,223,223,0.9);
$gray_75: rgba(223,223,223,0.75);
$gray_50: rgba(223,223,223,0.5);
$gray_10: rgba(223,223,223,0.1);
/* Shades of blue  #233D77 */
$blue: rgba(35,61,119,1.0);
$blue_90: rgba(35,61,119,0.9);
$blue_75: rgba(35,61,119,0.75);
$blue_50: rgba(35,61,119,0.5);
$blue_10: rgba(35,61,119,0.1);
/* Shades of blue */
$blue_hi: rgba(101,119,159,1.0); // #65779F
$blue_xhi: rgba(179,216,253,1.0); // #B3D8FD
$blue_low: rgba(24,42,83,1.0); // #182A53
